.tabela {
  display: flex;
  flex-direction: row;
}
.tabela .coluna:nth-child(1) {
  width: 400px;
}
.tabela .coluna:nth-child(1) h2 {
  text-align: left !important;
  padding-left: 20px;
}
.tabela .coluna:nth-child(1) .produtos {
  align-items: flex-start;
}
.tabela .coluna:nth-child(1) .produtos .imgProduto {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
}
.tabela .coluna:nth-child(2) {
  width: 130px;
}
.tabela .coluna:nth-child(3) {
  width: 120px;
}
.tabela .coluna:nth-child(4) {
  width: 130px;
}
.tabela .coluna:nth-child(5) {
  width: 100px;
}
.tabela .coluna {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabela .coluna h1 {
  font-size: 22px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  margin: 0;
  height: 25px;
}
.tabela .coluna .linha {
  padding: 20px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 100%;
  border-top: 1px solid black;
}
.tabela .coluna .linha h2,
.tabela .coluna .linha p {
  margin: 0px;
  text-align: center;
}
.tabela .coluna .linha p {
  position: absolute;
  bottom: 7px;
  left: 20px;
}
.tabela .coluna .linha .solicitar {
  width: 30px;
  height: 30px;
}
.tabela .coluna .linha .solicitar img {
  width: 30px;
}
