<div class="tabela">
    <div class="coluna">
        <h1>Produtos</h1>
        <div class="linha produtos" *ngFor="let produto of produtosExibidos; let i = index">
            <h2>{{produto.nome}}</h2>
            <p *ngIf="produto.descricao">{{produto.descricao}}</p>
            <img src="../../../assets/icon-camera.png" class="imgProduto" (click)="exibirProduto(i)">
        </div>
    </div>
    <div class="coluna">
        <h1>Medida</h1>
        <div class="linha" *ngFor="let produto of produtosExibidos">
            <h2>{{produto.medida}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Preço</h1>
        <div class="linha" *ngFor="let produto of produtosExibidos">
            <h2>R$ {{produto.preco}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Em estoque</h1>
        <div class="linha" *ngFor="let produto of produtosExibidos">
            <h2>{{produto.quantidade}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Solicitar</h1>
        <div class="linha" *ngFor="let produto of produtosExibidos; let i = index">
            <div class="solicitar" (click)="solicitarProduto(i)">
                <img src="../../../assets/icon-carrinho-compras.png" alt="Solicitar Produto">
            </div>
        </div>
    </div>
</div>
<div class="menu">
<input type="button" class="botao" value="Solicitar" (click)="solicitar()">
<input type="button" class="botao" value="Cancelar" (click)="cancelarSolicitacao()">
</div>
<!-- Modal de exibição de dados -->
<div id="modal" [ngClass]="{'active': modal}">
    <div class="box-modal">
        <h1>{{ tituloModal }}</h1>
        <p>{{ msgModal }}</p>
        <img [src]="imgModal" alt="Imagem do produto" *ngIf="imgModal">
        <a (click)="closeModal()">{{ botaoFechar }}</a>
    </div>
</div>