.tabela {
  background-color: #ffffff;
  color: #058d9c;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  .coluna:nth-child(1) {
    width: 450px;
    h2{
        text-align: left !important;
        padding-left: 20px;
    }
    .produtos{
      align-items: flex-start;
      .imgProduto{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 25px;
      }
    }
  }
  .coluna:nth-child(2), .coluna:nth-child(3), .coluna:nth-child(4), .coluna:nth-child(5) {
    width: 190px;
  }
    .coluna {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 22px;
      align-self: center;
      justify-self: center;
      padding: 10px;
      margin: 0;
      height: 25px;
      color: #02616b;
    }
    .linha {
        padding: 20px 0px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 50px;
        width: 100%;
        border-top: 1px solid;
       h2,
      p {
        margin: 0px;
        text-align: center;
      }
      h2 {
        font-size: 20px;
      }
      p {
        position: absolute;
        bottom: 7px;
        left: 20px;
      }
      .solicitar{
        width: 30px;
        height: 30px;
        img{
          width: 30px;
        }
      }
    }
  }
}
.menu{
  display: flex;
  flex-direction: row;
  width: 99%;
  border: 1px solid;
  position: relative;
  background-color: #058d9c;
  justify-content: center;
  border-color: #058d9c;
}
.botao{
  width: 200px;
  margin-top: 60px;
}
