.tabela {
  display: flex;
  flex-direction: row;
}
.tabela .coluna:nth-child(1) {
  width: 200px;
}
.tabela .coluna:nth-child(2) {
  width: 200px;
}
.tabela .coluna:nth-child(3) {
  width: 220px;
}
.tabela .coluna:nth-child(4) {
  width: 130px;
}
.tabela .coluna:nth-child(5) {
  width: 150px;
}
.tabela .coluna {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabela .coluna h1 {
  font-size: 22px;
  align-self: center;
  justify-self: center;
  padding: 10px;
  margin: 0;
  height: 25px;
}
.tabela .coluna .linha {
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
  border-top: 1px solid black;
}
