<div class="tabela">
    <div class="coluna">
        <h1>Usuario</h1>
        <div class="linha produtos" *ngFor="let solicitacao of solicitacoes; let i = index">
            <h2>{{solicitacao.usuario}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Data da solicitação</h1>
        <div class="linha" *ngFor="let solicitacao of solicitacoes">
            <h2>{{solicitacao.dataSolicitacao}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Produto</h1>
        <div class="linha" *ngFor="let solicitacao of solicitacoes">
            <h2>{{solicitacao.produto}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Quantidade</h1>
        <div class="linha" *ngFor="let solicitacao of solicitacoes">
            <h2>{{solicitacao.quantidade}}</h2>
        </div>
    </div>
    <div class="coluna">
        <h1>Valor total</h1>
        <div class="linha" *ngFor="let solicitacao of solicitacoes; let i = index">
            <h2>R$ {{solicitacao.valorTotal}}</h2>
        </div>
    </div>
</div>
<h1>Valor total: R$ {{ valorTotal }}</h1>

<!-- Modal de exibição de dados -->
<div id="modal" [ngClass]="{'active': modal}">
    <div class="box-modal">
        <h1>{{ tituloModal }}</h1>
        <p>{{ msgModal }}</p>
        <img [src]="imgModal" alt="Imagem do produto" *ngIf="imgModal != ''">
        <a (click)="closeModal()">{{ botaoFechar }}</a>
    </div>
</div>