.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
}
.login h1 {
  margin: 0;
}
.login form {
  display: flex;
  flex-direction: column;
}
.login form .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form a {
  text-align: center;
}
