<div class="login">
    <h1>LISTA DE COMPRAS</h1>
    <form class="formulario" #formCadastro="ngForm" (ngSubmit)="logarUsuario(formCadastro)">
        <p>Login</p>
        <input type="text" name="login" [(ngModel)]="login">
        <p>Senha</p>
        <input type="password" name="senha" [(ngModel)]="senha">
        <div class="botoes">
            <button class="botao" type="submit" name="enviar">Enviar</button>
            <button class="botao" type="reset" name="limpar">Limpar</button>
        </div>
        <a href="/cadastro">Cadastrar novo usuário</a>
        <!-- <a href="/main">Mostrar tela inicial</a> -->
    </form>
</div>


<!-- Modal de exibição de dados -->
<div id="modal" [ngClass]="{'active': modal}">
    <div class="box-modal">
        <h1>{{ tituloModal }}</h1>
        <p>{{ msgModal }}</p>
        <a (click)="closeModal()">{{ botaoFechar }}</a>
    </div>
</div>