.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 70px 30%;
    background-color: #ffffff;
    color: #058d9c;
    border-radius: 15px;
    h1{
        margin: 20px 0px 0px 0px;
    }
    form{
        display: flex;
        flex-direction: column;
        .botoes{
            display: flex;
            justify-content: center;
            align-items: center;     
            margin-top: 20px;   
        }
        a{
            text-align: center;
            color: #058d9c;
            font-size: 15px;
            font-weight: 1000;
            text-decoration:none;
        }
        a:hover{
            color: #036a75;
        }
        input{
            width: 370px;
            height: 48px;
            border-radius: 7px;
            border: 1px solid #058d9c;
            background-color: #ffffff !important;
            color: #808687 !important;
            padding-left: 7px;
        }
        p{
            margin: 30px 0px 5px 0px;
        }
    }

}

