<div class="cadastro">
        <h1>Cadastro de usuário</h1>
        <form class="formulario" #formCadastro="ngForm" (ngSubmit)="cadastrarUsuario(formCadastro)">
            <p>Login*</p>
            <input [(ngModel)]="cadastro.login" type="text" name="login" required #login='ngModel' [ngClass]="{invalido: formCadastro.submitted && login.invalid}">
            <p>Senha*</p>
            <input [(ngModel)]="cadastro.senha" type="password" name="senha" required #senha='ngModel' [ngClass]="{invalido: formCadastro.submitted && senha.invalid}">
            <p>Confirmar Senha*</p>
            <input [(ngModel)]="confirmaSenha" type="password" name="confirmaSenha" required #formConfirmaSenha='ngModel' [ngClass]="{invalido: formCadastro.submitted && formConfirmaSenha.invalid}">

            <h2>Dados pessoais</h2>
            <p>Nome*</p>
            <input [(ngModel)]="cadastro.nome" type="text" name="nome" required #nome='ngModel' [ngClass]="{invalido: formCadastro.submitted && nome.invalid}">
            <p>Data de nascimento*</p>
            <input [(ngModel)]="cadastro.dataNascimento" type="date" name="dataNascimento" required #dataNascimento='ngModel' (onkeyup)="idade(formCadastro)" [ngClass]="{invalido: formCadastro.submitted && dataNascimento.invalid}">
            <div class="gender">
            <p>Sexo*</p>
            <input class="sex" [(ngModel)]="cadastro.sexo" type="radio" id="sexoM" value="MASC" name="sexo" required #sexo='ngModel' [ngClass]="{invalido: formCadastro.submitted && sexo.invalid}">
            <label for="sexoM">Masculino</label>
            <input class="sex" [(ngModel)]="cadastro.sexo" type="radio" id="sexoF" value="FEM" name="sexo" required #sexo='ngModel' [ngClass]="{invalido: formCadastro.submitted && sexo.invalid}">
            <label for="sexoF">Feminino</label>
            </div>

            <p>CEP*</p>
            <input [(ngModel)]="cadastro.CEP" maxlength="9" (keyup)="changeCEP($event)" type="text" name="CEP" required #CEP='ngModel' [ngClass]="{invalido: formCadastro.submitted && CEP.invalid}">
            <p>Logradouro</p>
            <input [(ngModel)]="cadastro.logradouro" type="text" name="logradouro">
            <p>Numero</p>
            <input [(ngModel)]="cadastro.numero" type="number" name="numero">
            <p>Cidade</p>
            <input [(ngModel)]="cadastro.cidade" type="text" name="cidade">
            <p>Complemento</p>
            <input [(ngModel)]="cadastro.complemento" type="text" name="complemento">
            <p>UF</p>
            <select [(ngModel)]="cadastro.UF" name="uf">
                <option *ngFor="let estado of estadosSigla" value="{{estado}}" selected="cadastro.UF == estado">{{ estado }}</option>
            </select>
            <div class="botoes">
                <button class="botao" type="submit">Cadastrar</button>
                <button class="botao" type="reset">Limpar</button>
            </div>
        </form>
    </div>

    <!-- Modal de exibição de dados -->
<div id="modal" [ngClass]="{'active': modal}">
    <div class="box-modal">
        <h1>{{ tituloModal }}</h1>
        <p>{{ msgModal }}</p>
        <a (click)="closeModal()">Fechar</a>
    </div>
</div>