.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #058d9c;
    padding: 20px;
    h1{
        margin: 10px 0px 10px 0px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        width: 40%;
        .botoes{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .botao{
            font-size: 16px;
        }
        input, select{
            width: 100%;
            height: 34px;
            border-radius: 7px;
            border: 1px solid #058d9c;
            background-color: #ffffff;
            padding-left: 7px;
            color: #8197ad;
        }
        #sexoM, #sexoF{
            width: 50%;
        }
        p{
            color: white;
            font-size: 15px;
            font-weight: 1000;
            margin: 30px 0px 5px 0px;
        }
        h2{
            margin-bottom: 0px;
            margin-top: 50px;
        }
        .sex{
            width: 600px;
            height: 20px;
            border-radius: 7px;
            border: 1px solid #058d9c;
            background-color: #ffffff;
        }
        .invalido{
            border: 0.5px solid red;
        }
    }
}

