.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
}
.cadastro h1 {
  margin: 0;
}
.cadastro .formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cadastro .formulario .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadastro .formulario .invalido {
  border: 0.5px solid red;
}
