body {
  margin: 1px;
}
.botao:active {
  background-color: gray;
}
app-produtos,
app-relatorios {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px !important;
  padding: 10px;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 1s;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal.active {
  opacity: 1;
  z-index: 999;
}
#modal .box-modal {
  margin: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 17px 17px 0px 17px;
  border-radius: 15px;
}
#modal .box-modal h1 {
  color: #000000;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
#modal .box-modal p {
  color: #737373;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  border-bottom: 1px solid #d0cfcf;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 0;
}
#modal .box-modal a {
  width: 100%;
  color: #405af2;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  padding: 15px;
}
#modal .box-modal a:active {
  background-color: #ece9e9;
  border-radius: 6px;
  translate: 2s;
}
#modal .box-modal img {
  width: 200px;
  border-radius: 20px;
  margin-top: -35px;
}
