/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

body{
    margin: 1px;
    background-color: #058d9c;
    color: white;
    font-family:  'Asap', sans-serif;
}

.botao{
  width: 100px;
  height: 59px;
  border-radius: 7px;
  border: 1px solid #f78f8b;
  background-color: #f78f8b;  
  margin: 30px;
  color: white;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
    &:active{
      background-color: #fd837f;
    }
}

app-produtos, app-relatorios{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px !important;
    padding: 10px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: all 1s;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      // display: block;
      opacity: 1;
      z-index: 999;
    }
    .box-modal {
      margin: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #ffffff;
      padding: 17px 17px 0px 17px;
      border-radius: 15px;
      h1 {
        color: #058d9c;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
      }
      p {
        color: #737373;
        font-size: 15px;
        font-weight: 500;
        line-height: 17px;
        border-bottom: 0.5px solid #058d9c;
        padding: 10px 0px 27px 0px;
        text-align: center;
        margin: 0;
      }
      a {
        width: 100%;
        color: #058d9c;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        padding: 17px;
        &:active {
          background-color: #ece9e9;
          border-radius: 0px 0px 17px 17px;
          translate: 2s;
        }
      }
      img{
        width: 200px;
        border-radius: 20px;
        margin-top: -35px;
      }
    }
  }