.menu{
    display: flex;
    flex-direction: row;
    width: 99%;
    border: 1px solid;
    position: relative;
    background-color: #058d9c;
    justify-content: center;
    border-color: #058d9c;
    .botao{
        width: 200px;
    }
    div{
       padding: 5px;
    }
}