<div class="menu">
    <button class="botao" (click)="abrirProdutos()">
        Produtos
    </button>
    <button class="botao" (click)="abrirRelatorios()">
        Relatórios
    </button>
    <button class="botao" (click)="sair()">
        Sair
    </button>
</div>

<app-produtos [ngStyle]="{'display': produtos == true ? 'flex' : 'none'}"></app-produtos>
<app-relatorios [ngStyle]="{'display': relatorio == true ? 'flex' : 'none'}"></app-relatorios>